


.logotypes-container{
  display: grid;
  grid-template-columns: 80px 80px 80px 80px;
  grid-template-rows: 80px 80px 80px;
  grid-gap: 3px;
}

.logotypes-item{
  align-items: center;
  justify-items: center;
  margin: 2px;
}
