body {
  font-family: 'Open Sans', sans-serif;
  width: 100%;
  margin: 0;
  padding: 0;
  top: 0;
  bottom: 0;
}

.banner {
  top: 0;
  text-align: left;
  padding-left: 120px;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #fafafa;
  width: auto;
  height: 120px;
  border-bottom: 1px solid #eaeaea;
}

@media screen and (max-width:600px) {
  .banner {
    top: 0;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #fafafa;
    width: auto;
    height: 120px;
    border-bottom: 1px solid #eaeaea;
  }
}

.banner h4 {
  color: #a7a7a7;
  margin-top: -10px;
}

.top-menu {
  display: flex;
  width: 40%;
  height: 60px;
  margin-left: 60px;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

@media screen and (max-width:600px) {
  .top-menu {
    display: flex;
    width: 100%;
    height: 60px;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
  }
}

.top-menu a {
  color: black;
  font-weight: bold;
  text-decoration: none;
}

.hero-image img {
  max-width: auto;
  width: 100%;
  object-fit: cover;
  height: auto;
}

@media screen and (max-width:600px) {
  .hero-image img {
    max-width: 600px;
    width: auto;
    object-fit: cover;
    height: auto;
  }
}

.main-content {
  display: grid;
  width: 100%;
  padding-top: 50px;
  grid-template-columns: 1fr 1fr;
}

@media screen and (max-width:600px) {
  .main-content {
    display: grid;
    width: 100%;
    padding-top: 50px;
    grid-template-columns: 1fr;
  }
}

.first-row-left, .second-row-left {
  margin-left: 60px;
  margin-right: 50px;
}

.first-row-right, .second-row-right {
  margin-left: 50px;
  margin-right: 60px;
}

.second-row-left, .second-row-right {
  margin-top: 30px;
}

.logotypes-container {
  display: grid;
  width: auto;
  padding-top: 12px;
  grid-template-columns: 100px 100px 100px 100px;
  grid-template-rows: 120px 120px 120px;
  grid-gap: 6px;
}

.logotypes-item {
  align-items: center;
  justify-items: center;
  margin: 2px;
}

.footer {
  display: grid;
  padding-top: 32px;
  margin-top: 32px;
  font-size: 16px;
  color: white;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  width: 100%;
  height: 400px;
  line-height: 1.0;
  background-color: #6736cd
}

.footer-item {
  margin-left: 40px;
  margin-right: 40px;
}

@media screen and (max-width:600px) {
  .footer {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-top: 32px;
    margin-top: 32px;
    padding-bottom: 32px;
    font-size: 16px;
    color: white;
    height: auto;
    justify-content: space-around;
    align-items: center;
    line-height: 1.0;
    background-color: #6736cd
  }

  .footer-item {
    margin: 20px;
    align-content: center;
  }
}

.footer-item a {
  color: white;
  text-decoration: none;
}

.footer hr {
  display: block;
  height: 1px;
  width: 140px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}
